<h1>Portfolio</h1>
<main class="work">

  {% for page in site.portfolio %}
  <a href="spaced.html">
    <section class="card">
      <div class="grow">
        <img src="{{ portfolio.cover-image }}" alt="{{ portfolio.title }}">
      </div> 
      <h4>{{ portfolio.title }}</h4> 
    </section>
  </a>
  {% endfor %}

    <a href="inrix.html">
    <section class="card">
      <div class="grow">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1183167/CarplayMockup_min.png" alt="">
      </div> 
      <h4>Weather.com INRIX Inc</h4> 
    </section>
  </a>
  
    <a href="dashboard.html">
    <section class="card">
      <div class="grow">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1183167/samsung_s8_PersonalDailyDashboard_min.png" alt="">
      </div> 
      <h4>Personal Daily Dashboard</h4> 
    </section>
  </a>
  
    <a href="fortune.html">
    <section class="card">
      <div class="grow">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1183167/fortune-mockup_min.png" alt="">
      </div> 
      <h4>Fortune App</h4> 
    </section>
  </a>
</main>