@import '../assets/css/work.css';

body{
  font-family: europa, sans-serif;
  background-color:#4A4A4A;
}
main{
  height:1000px;
}
/* Header */
.sticky-header{
  display:flex;
  justify-content:center;
  align-items:center;
  width:100vw;
  height:130px;
  background-color:#333;
  padding:10px;
  z-index: 1000;
}

.sticky-header img{ 
  width:110px; 
  margin:10px auto;
}

.fixed {
  position: fixed;
  top:0; 
  left:0;
  height:70px;
  width:100vw; 
  padding:10px;
}

.fixed img{ 
  width:50px;
}

.sticky-header nav ul{
  display:flex;
  list-style-type:none;
  align-items:center;
}

.sticky-header nav ul li a {
  text-decoration:none;
  padding:20px;
  border-radius: 15%;
  color: whitesmoke;
  transition: all .3s ease-in-out;
}

.sticky-header nav ul li a:hover{
  background: #A992E5;
}

header a, main a{
  text-decoration:none;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
footer nav a img {
    max-width: 30px;
    max-height: 30px;
    margin: 30px 15px;
}