
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <!--  This Site/App -->
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="assets/css/styles.css">
    
  </head>
  <body>
      {% include header.html %}
  
  <!--  Main   -->
  {% include work.html %}
  {% include footer.html %}
  <!-- {% include scripts.html %} -->
  <script src="/assets/js/scripts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </body>
</html>