
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <!--  This Site/App -->
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="assets/css/styles.css">
    
  </head>
  <body>
      {% include header.html %}
      {% include welcome.html %}
  
  <!--  Main   -->
  {% block content %}

  {% include work.html %}
  
  {% endblock %}
  {% include footer.html %}
  <script src="/assets/js/scripts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/130527/typeitout.min.js"></script>

  </body>
</html>